In [ ]:
# import necessary library
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [5]:
columns = [
    'id',
    'year_month_day',
    'year',
    'month',
    'day',
    'count_or_sum',
    'created',
    'updated',
    'report_date',
    'creator_id',
    'report_day'
]

In [98]:

dataframe = pd.read_csv('report_total_offices.csv', names=columns)

In [101]:
dataframe.head()
dataframe.shape

,id,year_month_day,year,month,day,count_or_sum,created,updated,report_date,creator_id,report_day
0,9171,20151005,2015,10,5,3,2022-02-02 06:01:24.296973,2022-02-02 06:01:24.296990,2015-10-05,2,2015-10-05 00:00:00.000000
1,9172,20151006,2015,10,6,12,2022-02-02 06:01:24.309629,2022-02-02 06:01:24.309645,2015-10-06,2,2015-10-06 00:00:00.000000
2,9173,20151118,2015,11,18,1,2022-02-02 06:01:24.312250,2022-02-02 06:01:24.312264,2015-11-18,2,2015-11-18 00:00:00.000000
3,9174,20151125,2015,11,25,1,2022-02-02 06:01:24.314334,2022-02-02 06:01:24.314349,2015-11-25,2,2015-11-25 00:00:00.000000
4,9175,20151203,2015,12,3,4,2022-02-02 06:01:24.317464,2022-02-02 06:01:24.317480,2015-12-03,2,2015-12-03 00:00:00.000000

(917, 11)

In [132]:
# year_map = {}
# year_map['2015'] = {'count': 23, 'month_map': [], '10': {}}

# year_map['2015']['10'] = {'count': 34, 'day_map': [(3, 5), (5, 9)]}

# year_map['2015']['10']['day_map']
# general_map = {}
drilldown_map = {}
year_map = {}
month_map = {}
day_map = {}

year_group_by = dataframe.groupby('year')
i = 0
for year, year_frame in year_group_by:
    year_map[year] = year_frame['count_or_sum'].sum()
    month_map[year] = {}
    day_map[year] = {}
    
    month_group_by = year_frame.groupby('month')
    
    for month, month_frame in month_group_by:
        month_map[year][month] = month_frame['count_or_sum'].sum()
        
        day_map[year][month] = {}
        
        day_group_by = month_frame.groupby('day')
        for day, day_frame in day_group_by:
            day_map[year][month][day] = day_frame['count_or_sum'].sum()

In [131]:
for year in year_map:
    # y, year_map[y]
    month_dict = month_map[year]
    # month_dict
    for month, count in month_dict.items():
        day_dict = day_map[year][month]
        year, month, day_dict

(2015, 8, {2: 1, 13: 3, 14: 1, 15: 1})

(2015, 10, {5: 3, 6: 12})

(2015, 11, {18: 1, 25: 1})

(2015, 12, {3: 4, 30: 1, 31: 10})

(2016, 1, {9: 1, 10: 2})

(2016, 2, {23: 1, 25: 2})

(2016, 3, {7: 5, 10: 1, 19: 5, 23: 4, 27: 1, 30: 1, 31: 2})

(2016, 4, {2: 1, 7: 1, 10: 2, 11: 1, 12: 3, 28: 1, 30: 1})

(2016,
 5,
 {1: 7,
  2: 3,
  3: 3,
  6: 1,
  10: 15,
  11: 3,
  12: 1,
  15: 1,
  16: 1,
  17: 1,
  19: 1,
  20: 12,
  21: 1,
  22: 12,
  25: 26,
  26: 19,
  30: 12,
  31: 9})

(2016,
 6,
 {1: 15,
  2: 46,
  5: 11,
  6: 9,
  7: 14,
  8: 23,
  9: 1,
  12: 5,
  13: 2,
  14: 23,
  15: 5,
  16: 18,
  20: 2,
  21: 8,
  22: 8,
  24: 27,
  26: 1,
  27: 4,
  29: 3,
  30: 2})

(2016,
 7,
 {10: 6,
  11: 11,
  12: 33,
  13: 6,
  14: 4,
  15: 2,
  16: 31,
  17: 34,
  18: 205,
  19: 107,
  20: 80,
  21: 141,
  23: 1,
  24: 34,
  25: 21,
  26: 53,
  27: 33,
  31: 38})

(2016,
 8,
 {1: 20,
  2: 1,
  3: 7,
  4: 1,
  5: 4,
  7: 17,
  8: 10,
  9: 9,
  11: 3,
  14: 2,
  16: 32,
  17: 1,
  18: 3,
  21: 1,
  22: 7,
  23: 18,
  24: 2,
  29: 1})

(2016,
 9,
 {4: 4,
  5: 1,
  6: 6,
  7: 3,
  8: 7,
  11: 1,
  18: 3,
  19: 7,
  20: 2,
  22: 1,
  23: 23,
  24: 2,
  25: 11,
  27: 9,
  28: 6,
  29: 13})

(2016,
 10,
 {4: 1,
  5: 1,
  9: 4,
  10: 3,
  12: 1,
  13: 2,
  15: 8,
  16: 9,
  17: 16,
  18: 11,
  19: 22,
  20: 12,
  22: 2,
  23: 8,
  25: 7,
  31: 1})

(2016,
 11,
 {2: 1,
  3: 17,
  4: 7,
  5: 5,
  6: 5,
  8: 4,
  10: 2,
  13: 4,
  14: 1,
  15: 6,
  17: 9,
  18: 2,
  19: 1,
  21: 2,
  24: 7,
  27: 6})

(2016,
 12,
 {4: 3,
  5: 12,
  6: 8,
  8: 6,
  18: 10,
  19: 21,
  20: 18,
  21: 12,
  22: 10,
  26: 15,
  27: 20,
  28: 29,
  29: 10})

(2017,
 1,
 {1: 8,
  2: 11,
  3: 1,
  4: 5,
  5: 5,
  8: 2,
  9: 6,
  10: 2,
  11: 13,
  15: 16,
  16: 3,
  17: 6,
  18: 9,
  20: 4,
  21: 17,
  22: 7,
  23: 2,
  24: 1,
  25: 5,
  26: 30,
  27: 5,
  29: 4,
  30: 2,
  31: 14})

(2017,
 2,
 {1: 10,
  2: 11,
  3: 2,
  5: 2,
  6: 1,
  7: 37,
  8: 14,
  9: 1,
  10: 8,
  11: 1,
  12: 3,
  13: 6,
  14: 10,
  15: 13,
  16: 12,
  17: 1,
  18: 2,
  19: 13,
  20: 10,
  21: 7,
  22: 1,
  23: 15,
  24: 3,
  25: 9,
  26: 11,
  27: 10,
  28: 19})

(2017,
 3,
 {1: 5,
  2: 9,
  3: 7,
  5: 17,
  6: 21,
  7: 2,
  8: 18,
  9: 3,
  11: 1,
  12: 15,
  13: 9,
  14: 8,
  15: 2,
  16: 10,
  19: 1,
  21: 2,
  27: 10,
  30: 8})

(2017,
 4,
 {2: 2,
  3: 1,
  4: 11,
  5: 8,
  9: 2,
  10: 1,
  11: 5,
  12: 8,
  13: 10,
  15: 3,
  16: 9,
  18: 6,
  19: 2,
  22: 1,
  23: 8,
  24: 3,
  25: 4,
  26: 14})

(2017,
 5,
 {1: 17,
  2: 20,
  3: 9,
  4: 8,
  6: 2,
  7: 6,
  9: 4,
  10: 4,
  11: 13,
  14: 7,
  15: 28,
  16: 24,
  17: 25,
  18: 12,
  21: 14,
  22: 11,
  23: 15,
  24: 33,
  25: 42,
  26: 2,
  27: 26,
  28: 39,
  29: 13,
  30: 11,
  31: 10})

(2017,
 6,
 {1: 1,
  2: 9,
  4: 8,
  5: 7,
  6: 25,
  7: 3,
  8: 33,
  11: 10,
  12: 19,
  13: 1,
  14: 25,
  15: 23,
  16: 10,
  18: 12,
  19: 12,
  20: 5,
  21: 12,
  22: 29})

(2017,
 7,
 {3: 26,
  4: 19,
  5: 1,
  6: 13,
  10: 7,
  12: 7,
  13: 7,
  16: 2,
  18: 16,
  19: 2,
  20: 13,
  23: 8,
  24: 2,
  26: 3,
  27: 3,
  31: 16})

(2017,
 8,
 {1: 5,
  2: 21,
  3: 16,
  4: 5,
  5: 8,
  6: 16,
  7: 6,
  8: 5,
  9: 8,
  10: 3,
  12: 2,
  13: 3,
  16: 18,
  17: 14,
  19: 3,
  20: 3,
  23: 9,
  24: 15,
  25: 1,
  26: 12,
  27: 5,
  29: 1,
  30: 2})

(2017,
 9,
 {5: 2,
  7: 1,
  10: 10,
  11: 4,
  12: 16,
  13: 9,
  14: 8,
  15: 1,
  16: 3,
  18: 7,
  19: 18,
  20: 6,
  21: 4,
  23: 1,
  24: 10,
  25: 5,
  26: 9,
  27: 5,
  28: 1,
  29: 1})

(2017,
 10,
 {2: 2,
  3: 1,
  5: 3,
  11: 11,
  12: 1,
  15: 3,
  17: 1,
  18: 11,
  19: 14,
  23: 2,
  24: 9,
  25: 2,
  26: 7,
  29: 5,
  30: 22,
  31: 11})

(2017,
 11,
 {1: 7,
  2: 18,
  5: 7,
  6: 18,
  7: 28,
  8: 32,
  9: 19,
  10: 3,
  11: 9,
  13: 8,
  14: 9,
  15: 17,
  16: 7,
  19: 3,
  20: 17,
  21: 6,
  22: 1,
  23: 9,
  26: 8,
  27: 1,
  28: 3,
  29: 1,
  30: 13})

(2017,
 12,
 {2: 12,
  3: 3,
  4: 4,
  5: 18,
  6: 2,
  10: 4,
  11: 2,
  12: 12,
  13: 13,
  14: 2,
  17: 2,
  19: 3,
  20: 3,
  21: 1,
  24: 1,
  26: 2,
  27: 3,
  28: 1})

(2018,
 1,
 {1: 7,
  2: 2,
  4: 6,
  8: 16,
  9: 10,
  10: 10,
  11: 6,
  14: 1,
  15: 11,
  16: 2,
  17: 24,
  18: 3,
  21: 4,
  22: 13,
  23: 5,
  24: 13,
  25: 6,
  28: 68,
  29: 25,
  30: 26,
  31: 1})

(2018,
 2,
 {1: 7,
  5: 1,
  6: 1,
  7: 15,
  8: 6,
  11: 2,
  12: 12,
  13: 12,
  14: 15,
  15: 4,
  19: 12,
  20: 7,
  21: 6,
  22: 13,
  25: 6,
  26: 9,
  27: 1,
  28: 2})

(2018,
 3,
 {4: 4,
  5: 2,
  6: 10,
  7: 16,
  8: 14,
  11: 13,
  12: 1,
  13: 5,
  14: 22,
  15: 16,
  16: 2,
  18: 6,
  19: 9,
  20: 4,
  21: 5,
  22: 5,
  24: 1,
  25: 25,
  26: 4,
  27: 3,
  28: 2,
  29: 11})

(2018,
 4,
 {1: 4,
  2: 3,
  3: 3,
  4: 6,
  5: 7,
  8: 13,
  10: 8,
  11: 7,
  12: 12,
  15: 19,
  16: 10,
  17: 15,
  18: 16,
  19: 13,
  22: 18,
  23: 22,
  24: 18,
  25: 25,
  26: 18,
  30: 15})

(2018,
 5,
 {3: 20,
  6: 9,
  7: 16,
  8: 6,
  9: 10,
  10: 25,
  12: 2,
  13: 7,
  14: 2,
  15: 5,
  16: 6,
  17: 4,
  20: 36,
  21: 13,
  22: 15,
  23: 14,
  24: 4,
  26: 1,
  27: 20,
  28: 26,
  29: 21,
  30: 7,
  31: 3})

(2018,
 6,
 {3: 12,
  4: 7,
  5: 11,
  6: 14,
  7: 8,
  10: 13,
  11: 1,
  12: 2,
  14: 3,
  20: 10,
  21: 7,
  24: 14,
  25: 5,
  26: 15,
  27: 14})

(2018,
 7,
 {1: 5,
  2: 3,
  3: 13,
  4: 2,
  5: 7,
  8: 11,
  9: 9,
  10: 11,
  11: 8,
  12: 2,
  13: 1,
  14: 4,
  15: 12,
  16: 34,
  17: 9,
  18: 17,
  19: 4,
  22: 23,
  23: 13,
  24: 10,
  25: 5,
  26: 9,
  29: 1,
  30: 27,
  31: 4})

(2018,
 8,
 {1: 11,
  2: 7,
  5: 5,
  6: 13,
  7: 11,
  8: 3,
  9: 6,
  12: 3,
  13: 13,
  16: 2,
  17: 1,
  26: 1,
  27: 2,
  28: 4,
  29: 10,
  30: 4})

(2018, 9, {4: 2, 5: 1, 6: 2, 17: 5, 18: 1, 19: 1, 25: 1, 26: 3, 30: 4})

(2018,
 10,
 {1: 1,
  2: 5,
  3: 8,
  4: 1,
  7: 2,
  17: 10,
  18: 7,
  21: 3,
  22: 3,
  23: 3,
  25: 4,
  28: 2,
  29: 7,
  30: 8,
  31: 15})

(2018,
 11,
 {4: 1,
  6: 8,
  7: 6,
  11: 3,
  13: 3,
  14: 1,
  15: 2,
  22: 17,
  25: 15,
  27: 3,
  28: 7,
  29: 3,
  30: 2})

(2018,
 12,
 {2: 2,
  5: 2,
  6: 5,
  9: 4,
  10: 3,
  12: 4,
  13: 5,
  14: 1,
  15: 4,
  16: 1,
  17: 4,
  18: 10,
  19: 11,
  21: 6,
  23: 8,
  24: 7,
  26: 18,
  27: 4})

(2019,
 1,
 {1: 5,
  2: 1,
  3: 1,
  4: 8,
  7: 1,
  8: 8,
  9: 4,
  10: 3,
  13: 4,
  14: 2,
  15: 2,
  16: 5,
  17: 2,
  20: 2,
  21: 2,
  22: 10,
  23: 1,
  24: 4,
  28: 4,
  29: 9,
  30: 2,
  31: 6})

(2019,
 2,
 {3: 3, 4: 7, 6: 9, 7: 26, 10: 7, 11: 46, 12: 50, 13: 8, 26: 1, 27: 19})

(2019,
 3,
 {4: 1,
  6: 21,
  7: 1,
  10: 2,
  11: 22,
  16: 1,
  18: 6,
  20: 19,
  21: 2,
  24: 2,
  25: 2,
  28: 6,
  30: 1,
  31: 14})

(2019,
 4,
 {2: 5,
  3: 1,
  4: 1,
  6: 3,
  7: 1,
  9: 2,
  11: 8,
  15: 1,
  16: 8,
  17: 1,
  21: 1,
  23: 11,
  24: 8,
  28: 26,
  29: 23,
  30: 4})

(2019,
 5,
 {2: 3,
  3: 1,
  6: 5,
  7: 3,
  8: 2,
  9: 17,
  12: 12,
  13: 5,
  14: 9,
  15: 4,
  16: 1,
  19: 11,
  20: 2,
  21: 2,
  22: 4,
  23: 2,
  27: 10,
  28: 1,
  29: 12,
  30: 10})

(2019,
 6,
 {9: 2,
  10: 51,
  11: 31,
  12: 12,
  13: 20,
  17: 17,
  18: 17,
  19: 4,
  20: 3,
  23: 1,
  24: 2,
  25: 5,
  26: 1,
  30: 1})

(2019,
 7,
 {1: 3,
  2: 1,
  3: 13,
  4: 1,
  6: 10,
  7: 2,
  8: 25,
  9: 9,
  10: 20,
  13: 4,
  14: 8,
  15: 36,
  16: 4,
  17: 5,
  18: 12,
  22: 2,
  23: 6,
  24: 4,
  29: 1,
  30: 2,
  31: 1})

(2019,
 8,
 {1: 1,
  4: 7,
  5: 8,
  6: 1,
  8: 1,
  18: 2,
  19: 6,
  20: 27,
  21: 12,
  22: 3,
  25: 1,
  26: 2,
  27: 1,
  28: 1,
  29: 11,
  30: 1})

(2019,
 9,
 {1: 5,
  2: 14,
  3: 111,
  4: 2,
  5: 149,
  6: 20,
  7: 27,
  8: 31,
  9: 29,
  10: 32,
  11: 103,
  12: 8,
  15: 72,
  16: 30,
  17: 8,
  18: 6,
  19: 8,
  21: 2,
  22: 2,
  24: 1,
  25: 7,
  26: 11,
  29: 8,
  30: 15})

(2019,
 10,
 {1: 7,
  2: 6,
  3: 14,
  6: 7,
  7: 13,
  8: 4,
  9: 1,
  13: 2,
  14: 13,
  15: 16,
  16: 3,
  17: 3,
  20: 1,
  21: 9,
  22: 1,
  23: 5,
  24: 5,
  27: 28,
  28: 1,
  29: 3,
  30: 15})

(2019,
 11,
 {2: 11,
  3: 5,
  4: 11,
  5: 1,
  6: 4,
  7: 1,
  9: 6,
  11: 2,
  12: 4,
  13: 4,
  14: 1,
  17: 5,
  19: 30,
  20: 45,
  21: 5,
  22: 1,
  23: 3,
  24: 5,
  25: 9,
  26: 14,
  27: 3,
  28: 1})

(2019,
 12,
 {1: 5,
  2: 7,
  4: 9,
  5: 6,
  6: 4,
  9: 10,
  10: 3,
  11: 1,
  19: 4,
  22: 6,
  23: 3,
  24: 6,
  26: 22,
  29: 6,
  30: 7,
  31: 5})

(2020,
 1,
 {1: 1,
  2: 1,
  5: 7,
  6: 4,
  7: 2,
  8: 2,
  9: 10,
  13: 3,
  14: 8,
  15: 5,
  16: 12,
  19: 6,
  20: 2,
  21: 9,
  22: 3,
  23: 5,
  26: 2,
  27: 2,
  29: 7,
  30: 8})

(2020,
 2,
 {2: 3,
  3: 2,
  5: 4,
  8: 1,
  9: 10,
  10: 1,
  16: 1,
  17: 1,
  18: 1,
  19: 6,
  20: 2,
  23: 4,
  24: 2,
  25: 6,
  26: 1,
  27: 1})

(2020, 3, {2: 4, 3: 1, 5: 1, 22: 1, 31: 1})

(2020, 4, {12: 1})

(2020, 5, {6: 1, 14: 1, 18: 1})

(2020, 6, {2: 1, 13: 1, 17: 1, 18: 1, 22: 1})

(2020, 8, {16: 3, 23: 1, 29: 1})

(2020, 9, {2: 1, 22: 1, 30: 2})

(2020, 10, {5: 1, 15: 1})

(2020, 11, {30: 2})

(2020, 12, {3: 1})

(2021, 1, {22: 2, 23: 1, 24: 2})

(2021, 3, {8: 2, 14: 2, 21: 1, 24: 1, 28: 1})

(2021, 4, {11: 1})

(2021, 7, {17: 1, 24: 1, 25: 3})

(2021, 8, {2: 1, 14: 1})

(2021, 9, {15: 1})

(2021, 10, {6: 1})

In [128]:
month_map

{2015: {8: 6, 10: 15, 11: 2, 12: 15},
 2016: {1: 3,
  2: 3,
  3: 19,
  4: 10,
  5: 128,
  6: 227,
  7: 840,
  8: 139,
  9: 99,
  10: 108,
  11: 79,
  12: 174},
 2017: {1: 178,
  2: 232,
  3: 148,
  4: 98,
  5: 395,
  6: 244,
  7: 145,
  8: 181,
  9: 121,
  10: 105,
  11: 244,
  12: 88},
 2018: {1: 259,
  2: 131,
  3: 180,
  4: 252,
  5: 272,
  6: 136,
  7: 244,
  8: 96,
  9: 20,
  10: 79,
  11: 71,
  12: 99},
 2019: {1: 86,
  2: 176,
  3: 100,
  4: 104,
  5: 116,
  6: 167,
  7: 169,
  8: 85,
  9: 701,
  10: 157,
  11: 171,
  12: 104},
 2020: {1: 99, 2: 46, 3: 8, 4: 1, 5: 3, 6: 5, 8: 5, 9: 4, 10: 2, 11: 2, 12: 1},
 2021: {1: 5, 3: 7, 4: 1, 7: 5, 8: 2, 9: 1, 10: 1}}

In [69]:
year_map = {}
year_map['2015'] = {'count': 23, 'month_map': [], '10': {}}

year_map['2015']['10'] = {'count': 34, 'day_map': [(3, 5), (5, 9)]}

year_map['2015']['10']['day_map']

[(3, 5), (5, 9)]

In [ ]:
    GENERAL_SERIES = [
        {
            'name': general_series_name,
            'colorByPoint': True,
            'data': [],
        }
    ]
    DRILLDOWN_SERIES = []

    for year_dict in data:
        year = year_dict['year']
        count = year_dict['count']
        month_data = year_dict['month_data']

        temporary_dict_general = {
            'name': year,
            'y': count,
            'drilldown': year,
        }
        GENERAL_SERIES[0]['data'].append(temporary_dict_general)

        temporary_dict_drilldown = {
            'name': year,
            'id': year,
            'data': [],
        }

        for month_dict in month_data:
            month = month_dict['month']
            count = month_dict['count']
            day_data = month_dict['day_data']

            dic = {}
            dic['name'] = month_map[month]
            dic['y'] = count
            dic['drilldown'] = year + month

            temporary_dict_drilldown['data'].append(dic)

            temporary_day_dict = {
                'id': year + month,
                'data': copy.deepcopy(initialize_day_list),
            }

            for day_dict in day_data:
                day = day_dict['day']
                count = day_dict['count']
                day = int(day)

                lst = [day, count]

                temporary_day_dict['data'].remove([day, 0])
                temporary_day_dict['data'].append(lst)

            # sort days
            sorted_days = sorted(temporary_day_dict['data'], key=lambda x: x[0])
            temporary_day_dict['data'] = sorted_days

            DRILLDOWN_SERIES.append(temporary_day_dict)

        # sort month
        sorted_month = sorted(
            temporary_dict_drilldown['data'],
            key=lambda x: MONTH_SEQUENCE_LIST.index(x['name']),
        )
        temporary_dict_drilldown['data'] = sorted_month

        DRILLDOWN_SERIES.append(temporary_dict_drilldown)