In [1]:
# import necessary library
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [2]:
users_table_column = [
    'id',
    'username',
    'password',
    'user_alias',
    'hash_change_password',
    'user_role_id',
    'is_admin',
    'active',
    'user_status',
    'is_email_verified',
    'email_verify_code',
    'verification_date',
    'ssn',
    'force_password_change',
    'last_password_change',
    'created',
    'modified',
    'created_by',
    'modified_by',
    'photo',
    'employee_record_id',
]

In [3]:
employee_records_table_columns = [
    'id',
    'name_eng',
    'name_bng',
    'father_name_eng',
    'father_name_bng',
    'mother_name_eng',
    'mother_name_bng',
    'date_of_birth',
    'nid',
    'nid_valid',
    'bcn',
    'ppn',
    'gender',
    'religion',
    'blood_group',
    'martial_status',
    'personal_email',
    'personal_mobile',
    'alternative_mobile',
    'is_cadre',
    'employee_grade',
    'employee_cadre_id',
    'employee_batch_id',
    'identity_no',
    'appointment_memo_no',
    'joining_date',
    'service_rank_id',
    'service_grade_id',
    'service_ministry_id',
    'service_office_id',
    'current_office_ministry_id',
    'current_office_layer_id',
    'current_office_id',
    'current_office_unit_id',
    'current_office_joining_date',
    'current_office_designation_id',
    'current_office_address',
    'e_sign',
    'd_sign',
    'image_file_name',
    'status',
    'default_sign',
    'hard_signature',
    'soft_signature',
    'cert_id',
    'cert_type',
    'cert_provider',
    'cert_serial',
    'created_by',
    'modified_by',
    'created',
    'modified',
]
len(employee_records_table_columns)
len(set(employee_records_table_columns))

52

52

In [4]:
users_df = pd.read_csv('../Data/users.csv', names=users_table_column)
employee_records_df = pd.read_csv('../Data/employee_records.csv', names=employee_records_table_columns)
users_df.shape
employee_records_df.shape

/home/shahid/Desktop/Tappware/DataAnalysis/.venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,4,8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/shahid/Desktop/Tappware/DataAnalysis/.venv/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (17,18,25,36,39,45,46,47) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(79401, 21)

(79861, 52)

In [5]:
users_df.columns
employee_records_df.columns

Index(['id', 'username', 'password', 'user_alias', 'hash_change_password',
       'user_role_id', 'is_admin', 'active', 'user_status',
       'is_email_verified', 'email_verify_code', 'verification_date', 'ssn',
       'force_password_change', 'last_password_change', 'created', 'modified',
       'created_by', 'modified_by', 'photo', 'employee_record_id'],
      dtype='object')

Index(['id', 'name_eng', 'name_bng', 'father_name_eng', 'father_name_bng',
       'mother_name_eng', 'mother_name_bng', 'date_of_birth', 'nid',
       'nid_valid', 'bcn', 'ppn', 'gender', 'religion', 'blood_group',
       'martial_status', 'personal_email', 'personal_mobile',
       'alternative_mobile', 'is_cadre', 'employee_grade', 'employee_cadre_id',
       'employee_batch_id', 'identity_no', 'appointment_memo_no',
       'joining_date', 'service_rank_id', 'service_grade_id',
       'service_ministry_id', 'service_office_id',
       'current_office_ministry_id', 'current_office_layer_id',
       'current_office_id', 'current_office_unit_id',
       'current_office_joining_date', 'current_office_designation_id',
       'current_office_address', 'e_sign', 'd_sign', 'image_file_name',
       'status', 'default_sign', 'hard_signature', 'soft_signature', 'cert_id',
       'cert_type', 'cert_provider', 'cert_serial', 'created_by',
       'modified_by', 'created', 'modified'],
      dtype='object')

In [6]:
new_users_df = users_df[['id',
    'username',
    'user_role_id',
    'is_admin',
    'active',
    'user_status',
    'created',
    'modified',
    'employee_record_id']]
# employee_records_df = pd.read_csv('./Data/employee_records.csv', names=employee_records_table_columns)
new_employee_records_df = employee_records_df[['id', 'name_eng', 'gender', 'created', 'modified']]

In [7]:
users_gender_df = pd.merge(new_users_df, new_employee_records_df, left_on=['employee_record_id'], right_on=['id'],  suffixes=('_users', '_employee'))

In [13]:
users_gender_df.head()

,id_users,username,user_role_id,is_admin,active,user_status,created_users,modified_users,employee_record_id,id_employee,name_eng,gender,created_employee,modified_employee
0,3,100000003119,3,0,1,registered,NaN,2019-05-20 08:56:36,1.0,1,Dr. Kamal Abdul Naser Chowdhury,1.0,2015-08-13 15:08:49,2016-05-02 10:59:15
1,4,100000000250,3,0,1,registered,NaN,2017-03-06 10:10:55,2.0,2,Md. Abdul Mannan,1.0,2015-08-14 12:58:21,2016-03-13 12:30:56
2,5,100000000202,3,0,1,registered,NaN,2021-07-31 17:19:39,3.0,3,Monir Hossain Chowdhury,1.0,2015-08-14 13:04:19,2015-08-14 13:04:19
3,6,100000000203,3,0,1,registered,NaN,2016-02-24 14:39:30,4.0,4,Md Ibrahim Hossain Khan,1.0,2015-08-14 13:27:55,2016-03-13 12:42:51
4,7,200000011648,3,0,1,registered,NaN,2021-09-21 14:51:02,15486.0,15486,Mohammed Ikbal Hossain,1.0,2016-10-16 17:05:52,2016-11-09 10:08:11

In [72]:
users_gender_df.shape

(79131, 14)

In [70]:
# users_gender_df = users_gender_df[users_gender_df.created_users.isnull()]
users_gender_df.shape

(272, 14)

## Filter created_users value

In [78]:
users_gender_df = pd.merge(new_users_df, new_employee_records_df, left_on=['employee_record_id'], right_on=['id'],  suffixes=('_users', '_employee'))
users_gender_df["created_users"].fillna("unknown", inplace = True)
users_gender_df.shape

(79131, 14)

In [79]:
import re
year_month_regex = re.compile(r'(\d\d\d\d)-(\d\d)-(\d\d)')
# users_df.info()
years = []
months = []
indexes = []

times = users_gender_df.created_users.values
for index, time in enumerate(times, start=0):
    if time == 'unknown':
        year = time
        month = time
        years.append(year)
        months.append(month)
        indexes.append(index)
    else:
        # print(time)
        mo = year_month_regex.search(time)
        year = mo.group(1)
        month = mo.group(2)
        years.append(year)
        months.append(month)
        indexes.append(index)

In [80]:
len(years)
len(months)

79131

79131

In [81]:
year_series_df = pd.Series(years, index=indexes)
month_series_df = pd.Series(months, index=indexes)

In [92]:
# add year and month dataframe columns
users_gender_df['year'] = year_series_df
users_gender_df['month'] = month_series_df

In [99]:
month_map ={
    '1': 'January',
    '01': 'January',
    '2': 'February',
    '02': 'February',
    '3': 'March',
    '03': 'March',
    '4': 'April',
    '04': 'April',
    '5': 'May',
    '05': 'May',
    '6': 'June',
    '06': 'June',
    '7': 'July',
    '07': 'July',
    '8': 'August',
    '08': 'August',
    '9': 'Septembr',
    '09': 'Septermber',
    '10': 'October',
    '11': 'November',
    '12': 'December',
    'unknown': 'unknown',
}

## Separate male and female dataframe

In [97]:
users_gender_df[users_gender_df.gender != 1].shape
users_gender_df[users_gender_df.gender == 1].shape

(12589, 16)

(66542, 16)

In [104]:
users_gender_male_df = users_gender_df[users_gender_df.gender == 1]
users_gender_female_df = users_gender_df[users_gender_df.gender != 1]
users_gender_male_df.shape
users_gender_female_df.shape
# users_gender_male_df.shape[0] + users_gender_female_df.shape[0]

(66542, 16)

(12589, 16)

In [105]:

users_gender_male_df.to_csv('users_gender_male.csv', index=False)
users_gender_female_df.to_csv('users_gender_female.csv', index=False)

## male year by statistics

In [ ]:
users_gender_male_year_by = users_gender_male_df.groupby('year')
users_gender_male_year_by

In [101]:
general_series = [
    {
        'name': 'users',
        'colorByPoint': True,
        'data': [],
    }
]
drilldown_series = []

for year, year_frame in users_gender_year_by:
    year = str(year)
    # year, year_frame.shape
    t_dict_ge = {'name': year, 'y': year_frame.shape[0], 'drilldown': year}
    general_series[0]['data'].append(t_dict_ge)

    t_dict_dr = {
        'name': year,
        'id': year,
        'data': [],
    }
    month_group_by = year_frame.groupby('month')
    for month, month_frame in month_group_by:
        # mg, mf.shape[0]
        month = str(month)
        month = month_map[month]

        lst = [month, month_frame.shape[0]]
        t_dict_dr['data'].append(lst)
        drilldown_series.append(t_dict_dr)

### users gender female year by statistics

In [90]:
users_gender_year_by = users_gender_df.groupby('year')
users_gender_year_by

In [91]:
users_gender_year_by['gender']

In [88]:
general_series = [
    {
        'name': 'users',
        'colorByPoint': True,
        'data': [],
    }
]
drilldown_series = []

for year, year_frame in users_gender_year_by:
    year = str(year)
    # year, year_frame.shape
    t_dict_ge = {'name': year, 'y': year_frame.shape[0], 'drilldown': year}
    general_series[0]['data'].append(t_dict_ge)

    t_dict_dr = {
        'name': year,
        'id': year,
        'data': [],
    }
    month_group_by = year_frame.groupby('month')
    for month, month_frame in month_group_by:
        # mg, mf.shape[0]
        month = str(month)
        month = month_map[month]

        lst = [month, month_frame.shape[0]]
        t_dict_dr['data'].append(lst)
        drilldown_series.append(t_dict_dr)

In [89]:
general_series

[{'name': 'users',
  'colorByPoint': True,
  'data': [{'name': '2015', 'y': 69, 'drilldown': '2015'},
   {'name': '2016', 'y': 19039, 'drilldown': '2016'},
   {'name': '2017', 'y': 20074, 'drilldown': '2017'},
   {'name': '2018', 'y': 15269, 'drilldown': '2018'},
   {'name': '2019', 'y': 10479, 'drilldown': '2019'},
   {'name': '2020', 'y': 12046, 'drilldown': '2020'},
   {'name': '2021', 'y': 1883, 'drilldown': '2021'},
   {'name': 'unknown', 'y': 272, 'drilldown': 'unknown'}]}]

In [13]:
new_users_df.head(3)
new_employee_records_df.head(3)

,id,username,user_role_id,is_admin,active,user_status,created,modified,employee_record_id
0,1,s0000uperman,1,0,1,registered,NaN,2021-08-02 20:42:42,NaN
1,2,admin,1,0,1,NaN,NaN,2021-08-01 14:56:36,NaN
2,3,100000003119,3,0,1,registered,NaN,2019-05-20 08:56:36,1.0

,id,name_eng,gender,created,modified
0,1,Dr. Kamal Abdul Naser Chowdhury,1.0,2015-08-13 15:08:49,2016-05-02 10:59:15
1,2,Md. Abdul Mannan,1.0,2015-08-14 12:58:21,2016-03-13 12:30:56
2,3,Monir Hossain Chowdhury,1.0,2015-08-14 13:04:19,2015-08-14 13:04:19

In [45]:
# SELECT COUNT(users.id) FROM users INNER JOIN employee_records on users.employee_record_id = employee_records.id 
# WHERE date(users.created) <= '2020-09-31' and employee_records.gender = 2;
co_df = pd.merge(new_users_df, new_employee_records_df, left_on=['employee_record_id'], right_on=['id'])
users_and_employee_records_df  = co_df

In [27]:
co_df.gender.unique()

array([ 1., nan,  2.,  3.])

In [46]:
# male and female count
co_df[co_df['gender'].isnull()].shape
co_df[co_df.gender == 1].shape
co_df[co_df.gender == 2].shape
co_df[co_df.gender == 3].shape

(5791, 14)

(66542, 14)

(6772, 14)

(26, 14)