In [1]:

# import necessary library
from IPython.core.interactiveshell import InteractiveShell
from IPython.core.debugger import Pdb;
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [2]:

user_login_history_table_columns = [
    'id',
    'is_mobile',
    'client_ip',
    'device_name',
    'browser_name',
    'employee_record_id',
    'ministry_id',
    'layer_id',
    'origin_id',
    'office_id',
    'office_unit_id',
    'office_unit_organogram',
    'office_name',
    'unit_name',
    'organogram_name',
    'user_id',
    'employee_name',
    'mobile_number',
    'employee_email',
    'login_time',
    'logout_time',
    'network_information',
    'created',
    'modified',
    'created_by',
    'modified_by',
    'token',
    'device_type',
    'device_id',
]
len(user_login_history_table_columns)

29

In [63]:
required_columns = ['id', 'employee_record_id', 'created']
def load_dataframe(nrows=1000000):
    return pd.read_csv('../Data/user_login_history_24_11_2021.csv', names=user_login_history_table_columns, nrows=nrows)

In [64]:
dataframe = load_dataframe()

In [65]:
dataframe.shape
dataframe = dataframe[['id', 'employee_record_id', 'created']]

(1000000, 29)

In [66]:
# dataframe.employee_record_id.count()
# len(dataframe.employee_record_id.unique())
# dataframe.employee_record_id.value_counts()[:10]
dataframe.head()
dataframe.shape
dataframe.created.isnull().sum()

   id  employee_record_id              created
0   2              314312  2021-09-02 08:31:37
1   4              183969  2021-09-02 08:31:37
2   6               77697  2021-09-02 08:30:56
3  10              104730  2021-09-02 08:27:47
4  14              205981  2021-09-02 08:31:39

(1000000, 3)

519

In [67]:
# dataframe[dataframe.employee_record_id == 234460].head()

# dataframe[dataframe.employee_record_id == 234460].tail()
# # dataframe.created.dt.date
# dataframe.created.dt.date
dataframe['created'] = pd.to_datetime(dataframe['created'], errors='coerce')
dataframe['created'] = dataframe.created.fillna(method='bfill')

groupby_date = dataframe.groupby(dataframe.created.dt.date)

# for date, frame in groupby_date:
#   frame.shape[0]
dataframe.shape
dataframe.created.isnull().sum()

(1000000, 3)

0

In [68]:
dataframe.employee_record_id.nunique()

38586

In [89]:
# len(set(dataframe.employee_record_id.values))
# dic = {}

# date is unique date in the whole dataframe

dataframe_object_list = []

global_dic  = []
for date, frame in groupby_date:
    # dic = {}
    employee_ids = dict()
    inner_list = []
    
    year = date.year
    month = date.month
    day = date.day
    
    count_or_sum = frame.employee_record_id.nunique()
    
  
    for id in frame.employee_record_id.values:
        var = employee_ids.setdefault(id, 1)
        
    inner_list.append(year)
    inner_list.append(month)
    inner_list.append(day)
    inner_list.append(count_or_sum)
    inner_list.append(employee_ids)
    
    dataframe_object_list.append(inner_list)

In [45]:
# dataframe_object_list

In [95]:
new_df = pd.DataFrame(dataframe_object_list, columns=['year', 'month', 'day', 'count_or_sum', 'employee_ids'])

In [96]:
new_df

,year,month,day,count_or_sum,employee_ids
0,2021,9,2,21489,"{314312: 1, 183969: 1, 77697: 1, 104730: 1, 20..."
1,2021,9,3,6489,"{226961: 1, 110398: 1, 289860: 1, 245105: 1, 2..."
2,2021,9,4,8682,"{285699: 1, 330561: 1, 77666: 1, 220924: 1, 10..."
3,2021,9,5,22151,"{109844: 1, 248721: 1, 218937: 1, 262499: 1, 9..."
4,2021,9,6,21885,"{201726: 1, 207799: 1, 232163: 1, 98760: 1, 22..."
5,2021,9,7,21800,"{110797: 1, 187541: 1, 99153: 1, 109897: 1, 26..."
6,2021,9,8,21555,"{304971: 1, 204788: 1, 107319: 1, 105501: 1, 1..."
7,2021,9,9,21148,"{294421: 1, 310386: 1, 240183: 1, 112407: 1, 8..."
8,2021,9,10,6358,"{87300: 1, 92594: 1, 208755: 1, 305912: 1, 284..."
9,2021,9,11,8198,"{274112: 1, 217975: 1, 285086: 1, 81838: 1, 20..."
10,2021,9,12,21814,"{81178: 1, 275070: 1, 217023: 1, 187217: 1, 19..."
11,2021,9,13,21922,"{289630: 1, 208039: 1, 80042: 1, 204896: 1, 32..."
12,2021,9,14,21732,"{112229: 1, 81726: 1, 265796: 1, 102180: 1, 18..."
13,2021,9,15,21827,"{203580: 1, 87130: 1, 98901: 1, 108129: 1, 181..."
14,2021,9,16,20840,"{274935: 1, 115630: 1, 214389: 1, 268236: 1, 2..."
15,2021,9,17,2379,"{110856: 1, 109303: 1, 276548: 1, 295066: 1, 2..."

In [93]:
# for count, ids in zip(new_df.count_or_sum.values, new_df.employee_ids.values):
#     count, len(ids)
#     if count != len(ids):
#         print('mismatch')
#     else:
#         print('same')
YEAR_MAP = {}
MONTH_MAP = {}
DAY_MAP = {}

for year, year_frame in new_df.groupby('year'):
    year_set = set()
    for st in year_frame['employee_ids'].values:
        year_set.update(st)
        
    YEAR_MAP[year] = len(year_set)
    
    MONTH_MAP[year] = {}
    DAY_MAP[year] = {}
    
    month_group_by = year_frame.groupby('month')
    
    for month, month_frame in month_group_by:
        month_set = set()
        for st in month_frame['employee_ids'].values:
            month_set.update(st)
        MONTH_MAP[year][month] = len(month_set)
        
        DAY_MAP[year][month] = {}
        
        day_group_by = month_frame.groupby('day')
        for day, day_frame in day_group_by:
            DAY_MAP[year][month][day] = day_frame['count_or_sum'].sum()

In [94]:
YEAR_MAP
MONTH_MAP
DAY_MAP

{2021: 38586}

{2021: {9: 38586}}

{2021: {9: {2: 21489,
   3: 6489,
   4: 8682,
   5: 22151,
   6: 21885,
   7: 21800,
   8: 21555,
   9: 21148,
   10: 6358,
   11: 8198,
   12: 21814,
   13: 21922,
   14: 21732,
   15: 21827,
   16: 20840,
   17: 2379}}}