In [2]:
# import necessary library
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [7]:
user_login_history_table_columns = [
    'id',
    'is_mobile',
    'client_ip',
    'device_name',
    'browser_name',
    'employee_record_id',
    'ministry_id',
    'layer_id',
    'origin_id',
    'office_id',
    'office_unit_id',
    'office_unit_organogram',
    'office_name',
    'unit_name',
    'organogram_name',
    'user_id',
    'employee_name',
    'mobile_number',
    'employee_email',
    'login_time',
    'logout_time',
    'network_information',
    'created',
    'modified',
    'created_by',
    'modified_by',
    'token',
    'device_type',
    'device_id',
]
len(user_login_history_table_columns)

29

In [7]:
# SELECT count(id) FROM `user_login_history` where date(created) >= '2020-09-01'  and date(created) <= '2020-09-30' and is_mobile = 1;

In [5]:

user_login_history_df = pd.read_csv('../Data/user_login_history_24_11_2021.csv', names=user_login_history_table_columns)
user_login_history_df.shape

(4870908, 29)

In [6]:
user_login_history_df.columns

Index(['id', 'is_mobile', 'client_ip', 'device_name', 'browser_name',
       'employee_record_id', 'ministry_id', 'layer_id', 'origin_id',
       'ofice_id', 'office_unit_id', 'office_unit_organogram', 'office_name',
       'unit_name', 'organogram_name', 'user_id', 'employee_name',
       'mobile_number', 'employee_email', 'login_time', 'logout_time',
       'network_information', 'created', 'modified', 'created_by',
       'modified_by', 'token', 'device_type', 'device_id'],
      dtype='object')

In [9]:
user_login_history_df.head()

,id,is_mobile,client_ip,device_name,browser_name,employee_record_id,ministry_id,layer_id,origin_id,ofice_id,office_unit_id,office_unit_organogram,office_name,unit_name,organogram_name,user_id,employee_name,mobile_number,employee_email,login_time,logout_time,network_information,created,modified,created_by,modified_by,token,device_type,device_id
0,2,1,192.168.2.1,NaN,android,314312,37,202,468,6175,25288,147058,বাংলাদেশ মাদ্রাসা শিক্ষা বোর্ড,পরিদর্শন শাখা,উপ পরিদর্শক,182693,মোহাম্মদ আবুল কাশেম সরদার,01718014128,maksardar@gmail.com,2021-09-02 08:31:37,NaN,"{""ClientIp"":""192.168.2.1"",""UserAgent"":""ASUS"",""...",2021-09-02 08:31:37,2021-09-02 08:31:37,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,android,39083043
1,4,1,192.168.2.1,NaN,android,183969,27,228,456,5983,22275,128957,জালালাবাদ গ্যাস ট্রান্সমিসন এ্যান্ড ডিস্ট্রিবি...,"পার্সোনেল, প্রশাসন শাখা",ব্যবস্থাপক,45925,মোহাম্মদ বেলায়েত হোসাইন,০১৮১৯-৯৫৬২৭২,Balayettaj@gmail.com,2021-09-02 08:31:37,NaN,"{""ClientIp"":""192.168.2.1"",""UserAgent"":""ASUS"",""...",2021-09-02 08:31:37,2021-09-02 08:31:37,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,android,39083043
2,6,1,192.168.2.1,NaN,android,77697,12,78,84,98,5066,12460,কৃষি মন্ত্রণালয়,বীজ অনুবিভাগ,মহাপরিচালক,3762,বলাই কৃষ্ণ হাজরা,01753504444,hkbalai99@gmail.com,2021-09-02 08:30:56,NaN,"{""ClientIp"":""192.168.2.1"",""UserAgent"":""ASUS"",""...",2021-09-02 08:30:56,2021-09-02 08:30:56,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,android,39083043
3,10,0,NaN,windows,Google Chrome,104730,7,326,280,3069,15539,81439,সাধারণ বীমা কর্পোরেশন,ডিজিএম (পুনঃবীমা)-এর দপ্তর,ডেপুটি জেনারেল ম্যানেজার,30321,মোঃ জাকির হোসেন,01819103380,jakirhossainsbc@yahoo.com,2021-09-02 08:27:47,NaN,"{""ClientIp"":"""",""UserAgent"":""Mozilla\/5.0 (Wind...",2021-09-02 08:27:47,2021-09-02 08:27:47,NaN,NaN,NaN,Google Chrome - 92.0.4515.159 - windows,NaN
4,14,1,192.168.2.1,NaN,android,205981,27,228,564,7330,31514,187826,তিতাস গ্যাস ট্রান্সমিসন এ্যান্ড ডিস্ট্রিবিউশন ...,যানবাহন রক্ষণাবেক্ষণ শাখা,ব্যবস্থাপক,68701,মোহাম্মদ আবু বকর,01952277344,mdfaruq1060006@gmail.com,2021-09-02 08:31:39,NaN,"{""ClientIp"":""192.168.2.1"",""UserAgent"":""ASUS"",""...",2021-09-02 08:31:39,2021-09-02 08:31:39,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,android,39083043

### Make mobile Users dataframe with limited attribute

In [25]:
# mobile_users_df = user_login_history_df[['id', 'is_mobile', 'employee_record_id', 'created', 'modified']]
# mobile_users_df = mobile_users_df.copy(deep=True)
# mobile_users_df = mobile_users_df[mobile_users_df.is_mobile == 1].copy(deep=True)
# user_login_history_df.device_type.unique()
user_login_history_df[user_login_history_df.device_type == 'android'].shape
user_login_history_df[user_login_history_df.device_type == 'IOS']

(1714798, 29)

,id,is_mobile,client_ip,device_name,browser_name,employee_record_id,ministry_id,layer_id,origin_id,ofice_id,office_unit_id,office_unit_organogram,office_name,unit_name,organogram_name,user_id,employee_name,mobile_number,employee_email,login_time,logout_time,network_information,created,modified,created_by,modified_by,token,device_type,device_id
45,159,1,NaN,NaN,NaN,250331,7,355,703,8965,66583,465055,মাইক্রোক্রেডিট রেগুলেটরী অথরিটি,সিআইবি এন্ড আইসিটি বিভাগ,সিস্টেম এনালিস্ট,113696,চন্দন কুমার দাস,01711430564,chandan.ruet@gmail.com,2021-09-02 08:33:38,NaN,"{""ClientIp"":"""",""UserAgent"":"""",""DeviceId"":""api""...",2021-09-02 08:33:38,2021-09-02 08:33:38,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,IOS,api
103,340,1,NaN,NaN,NaN,103199,27,268,313,3380,16645,87914,"বাংলাদেশ তৈল, গ্যাস ও খনিজ সম্পদ করপোরেশন (পেট...",কন্ট্রাক্ট বিভাগ,মহাব্যবস্থাপক (কন্ট্রাক্ট),28794,শাহনেওয়াজ পারভেজ,01713016345,spvz1104@yahoo.com,2021-09-02 08:35:16,NaN,"{""ClientIp"":"""",""UserAgent"":"""",""DeviceId"":""api""...",2021-09-02 08:35:16,2021-09-02 08:35:16,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,IOS,api
181,581,1,NaN,NaN,NaN,77834,42,180,208,2226,9127,45085,পানি সম্পদ মন্ত্রণালয়,পরিকল্পনা-২ অধিশাখা,উপপ্রধান,3899,মোহাম্মদ লুৎফুর রহমান,01711314475,mlutfur74@gmail.com,2021-09-02 08:38:14,NaN,"{""ClientIp"":"""",""UserAgent"":"""",""DeviceId"":""api""...",2021-09-02 08:38:14,2021-09-02 08:38:14,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,IOS,api
299,982,1,NaN,NaN,NaN,223258,46,42,102,2240,12370,63076,স্থানীয় সরকার বিভাগ,বাজেট শাখা,উপসচিব,86539,এ. কে. এম মিজানুর রহমান,01711730356,mizan15219@gmail.com,2021-09-02 08:42:53,NaN,"{""ClientIp"":"""",""UserAgent"":"""",""DeviceId"":""api""...",2021-09-02 08:42:53,2021-09-02 08:42:53,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,IOS,api
300,987,1,NaN,NaN,NaN,223258,46,42,102,2240,12359,63054,স্থানীয় সরকার বিভাগ,প্রশাসন -১,উপসচিব,86539,এ. কে. এম মিজানুর রহমান,01711730356,mizan15219@gmail.com,2021-09-02 08:42:53,NaN,"{""ClientIp"":"""",""UserAgent"":"""",""DeviceId"":""api""...",2021-09-02 08:42:53,2021-09-02 08:42:53,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,IOS,api
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4870654,16036138,1,NaN,NaN,NaN,109893,14,243,417,4714,19378,103638,বাংলাদেশ টেলিযোগাযোগ নিয়ন্ত্রণ কমিশন,স্পেকট্রাম ম্যানেজমেন্ট,উপ পরিচালক,35447,সনজিব কুমার সিংহ,01552202853,sunjib@btrc.gov.bd,2021-11-23 12:10:31,NaN,"{""ClientIp"":"""",""UserAgent"":"""",""DeviceId"":""api""...",2021-11-23 12:10:31,2021-11-23 12:10:31,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,IOS,api
4870713,16036339,1,NaN,NaN,NaN,248468,27,228,564,7330,31322,811614,তিতাস গ্যাস ট্রান্সমিসন এ্যান্ড ডিস্ট্রিবিউশন ...,পরিকল্পনা ও উন্নয়ন ডিভিশন,প্রকল্প পরিচালক,111833,প্রকৌ. সৈয়দ আবু নসর মোঃ সালেহ,01777717611,syed.saleh@gmail.com,2021-11-23 12:10:09,NaN,"{""ClientIp"":"""",""UserAgent"":"""",""DeviceId"":""api""...",2021-11-23 12:10:09,2021-11-23 12:10:09,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,IOS,api
4870781,16036545,1,NaN,NaN,NaN,312115,12,324,172,1755,6914,423134,বাংলাদেশ ধান গবেষণা ইনস্টিটিউট,উদ্ভিদ রোগতত্ত্ব,সাইন্টিফিক অফিসার,180514,হোসনে আরা দিলজাহান,01722400703,dilzahan@yahoo.com,2021-11-23 12:11:54,NaN,"{""ClientIp"":"""",""UserAgent"":"""",""DeviceId"":""api""...",2021-11-23 12:11:54,2021-11-23 12:11:54,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,IOS,api
4870783,16036552,1,NaN,NaN,NaN,231639,46,96,103,154,18122,96847,স্থানীয় সরকার প্রকৌশল অধিদপ্তর,রাজশাহী বিভাগ (সিরাজগঞ্জ জেলা ব্যতীত) পল্লী অব...,প্রকল্প পরিচালক,94941,মোঃ নাঈম উদ্দিন মিয়া,01711387950,naimlged@gmail.com,2021-11-23 12:11:54,NaN,"{""ClientIp"":"""",""UserAgent"":"""",""DeviceId"":""api""...",2021-11-23 12:11:54,2021-11-23 12:11:54,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,IOS,api
4870808,16036632,1,NaN,NaN,NaN,231639,46,96,103,154,18122,96847,স্থানীয় সরকার প্রকৌশল অধিদপ্তর,রাজশাহী বিভাগ (সিরাজগঞ্জ জেলা ব্যতীত) পল্লী অব...,প্রকল্প পরিচালক,94941,মোঃ নাঈম উদ্দিন মিয়া,01711387950,naimlged@gmail.com,2021-11-23 12:12:13,NaN,"{""ClientIp"":"""",""UserAgent"":"""",""DeviceId"":""api""...",2021-11-23 12:12:13,2021-11-23 12:12:13,NaN,NaN,eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiO...,IOS,api

In [19]:
mobile_users_df

Empty DataFrame
Columns: [id, is_mobile, employee_record_id, created, modified]
Index: []

In [20]:
x = mobile_users_df[mobile_users_df.created.isnull()]
type(x)
x.shape

pandas.core.frame.DataFrame

(0, 5)

In [39]:
# dir(x)
# len(x.to_list())

In [11]:
mobile_users_df["created"].fillna("unknown", inplace = True)

In [12]:
import re
year_month_regex = re.compile(r'(\d\d\d\d)-(\d\d)-(\d\d)')

In [13]:
# users_df.info()
years = []
months = []
indexes = []

times = mobile_users_df.created.values
for index, time in enumerate(times, start=0):
    if time == 'unknown':
        year = time
        month = time
        years.append(year)
        months.append(month)
        indexes.append(index)
    else:
        # print(time)
        mo = year_month_regex.search(time)
        year = mo.group(1)
        month = mo.group(2)
        years.append(year)
        months.append(month)
        indexes.append(index)

In [14]:
years[:5]
months[:5]

['2020', '2020', '2020', '2020', '2020']

['10', '10', '10', '10', '10']

In [15]:
year_series_df = pd.Series(years, index=indexes)
month_series_df = pd.Series(months, index=indexes)
# year_series_df[:10]
# month_series_df[:10]

In [16]:
# add year and month dataframe columns
mobile_users_df['year'] = year_series_df
mobile_users_df['month'] = month_series_df

In [17]:
# save users_df as users_updated.csv
mobile_users_df.to_csv('mobile_users_df.csv', index=False)

In [63]:
month_map ={
    '1': 'January',
    '01': 'January',
    '2': 'February',
    '02': 'February',
    '3': 'March',
    '03': 'March',
    '4': 'April',
    '04': 'April',
    '5': 'May',
    '05': 'May',
    '6': 'June',
    '06': 'June',
    '7': 'July',
    '07': 'July',
    '8': 'August',
    '08': 'August',
    '9': 'Septembr',
    '09': 'Septermber',
    '10': 'October',
    '11': 'November',
    '12': 'December',
    'unknown': 'unknown',
}

In [64]:
mobile_users_df_year_by = mobile_users_df.groupby('year')
mobile_users_df_year_by

In [68]:
general_series = []
drilldown_series = []
for year, year_frame in mobile_users_df_year_by:
    # group, frame.shape[0]
    year = str(year)
    
    temporary_general_dict = {
        'name': year,
        'y': year_frame.shape[0],
        'drilldown': year
    }
    general_series.append(temporary_general_dict)
    temporary_drilldown_dict = {
        'name': year,
        'id': year,
        'data': [],
    }
    month_group_by = year_frame.groupby('month')
    for month, month_frame in month_group_by:
        # mg, mf.shape[0]
        month = str(month)
        month = month_map[month]
        # print(month)
       
        # month, month_frame.shape[0]
        lst = [month, month_frame.shape[0]]
        temporary_drilldown_dict['data'].append(lst)
        drilldown_series.append(temporary_drilldown_dict)
    
    # print()
    # print()

In [70]:
general_series
drilldown_series

[{'name': '2020', 'y': 98005, 'drilldown': '2020'},
 {'name': '2021', 'y': 176202, 'drilldown': '2021'},
 {'name': 'unknown', 'y': 16095, 'drilldown': 'unknown'}]

[{'name': '2020',
  'id': '2020',
  'data': [['October', 35379], ['November', 42099], ['December', 20527]]},
 {'name': '2020',
  'id': '2020',
  'data': [['October', 35379], ['November', 42099], ['December', 20527]]},
 {'name': '2020',
  'id': '2020',
  'data': [['October', 35379], ['November', 42099], ['December', 20527]]},
 {'name': '2021',
  'id': '2021',
  'data': [['January', 18526],
   ['February', 16570],
   ['March', 22146],
   ['April', 6101],
   ['May', 7136],
   ['June', 74057],
   ['July', 2925],
   ['August', 7053],
   ['Septermber', 13931],
   ['October', 7757]]},
 {'name': '2021',
  'id': '2021',
  'data': [['January', 18526],
   ['February', 16570],
   ['March', 22146],
   ['April', 6101],
   ['May', 7136],
   ['June', 74057],
   ['July', 2925],
   ['August', 7053],
   ['Septermber', 13931],
   ['October', 7757]]},
 {'name': '2021',
  'id': '2021',
  'data': [['January', 18526],
   ['February', 16570],
   ['March', 22146],
   ['April', 6101],
   ['May', 7136],
   ['June', 74057],
   ['July', 2925],
   ['August', 7053],
   ['Septermber', 13931],
   ['October', 7757]]},
 {'name': '2021',
  'id': '2021',
  'data': [['January', 18526],
   ['February', 16570],
   ['March', 22146],
   ['April', 6101],
   ['May', 7136],
   ['June', 74057],
   ['July', 2925],
   ['August', 7053],
   ['Septermber', 13931],
   ['October', 7757]]},
 {'name': '2021',
  'id': '2021',
  'data': [['January', 18526],
   ['February', 16570],
   ['March', 22146],
   ['April', 6101],
   ['May', 7136],
   ['June', 74057],
   ['July', 2925],
   ['August', 7053],
   ['Septermber', 13931],
   ['October', 7757]]},
 {'name': '2021',
  'id': '2021',
  'data': [['January', 18526],
   ['February', 16570],
   ['March', 22146],
   ['April', 6101],
   ['May', 7136],
   ['June', 74057],
   ['July', 2925],
   ['August', 7053],
   ['Septermber', 13931],
   ['October', 7757]]},
 {'name': '2021',
  'id': '2021',
  'data': [['January', 18526],
   ['February', 16570],
   ['March', 22146],
   ['April', 6101],
   ['May', 7136],
   ['June', 74057],
   ['July', 2925],
   ['August', 7053],
   ['Septermber', 13931],
   ['October', 7757]]},
 {'name': '2021',
  'id': '2021',
  'data': [['January', 18526],
   ['February', 16570],
   ['March', 22146],
   ['April', 6101],
   ['May', 7136],
   ['June', 74057],
   ['July', 2925],
   ['August', 7053],
   ['Septermber', 13931],
   ['October', 7757]]},
 {'name': '2021',
  'id': '2021',
  'data': [['January', 18526],
   ['February', 16570],
   ['March', 22146],
   ['April', 6101],
   ['May', 7136],
   ['June', 74057],
   ['July', 2925],
   ['August', 7053],
   ['Septermber', 13931],
   ['October', 7757]]},
 {'name': '2021',
  'id': '2021',
  'data': [['January', 18526],
   ['February', 16570],
   ['March', 22146],
   ['April', 6101],
   ['May', 7136],
   ['June', 74057],
   ['July', 2925],
   ['August', 7053],
   ['Septermber', 13931],
   ['October', 7757]]},
 {'name': 'unknown', 'id': 'unknown', 'data': [['unknown', 16095]]}]

In [14]:
generic_user_login_history_df = user_login_history_df[[
    'id',
    'is_mobile',
    'device_name',
    'origin_id',
    'ofice_id',
    'office_unit_id',
    'office_unit_organogram',
    'user_id',
    'created',
    'modified',
]]

In [15]:
generic_user_login_history_df

,id,is_mobile,device_name,origin_id,ofice_id,office_unit_id,office_unit_organogram,user_id,created,modified
0,1,0,windows,98,1867,78010,335408,66314,2020-10-14 18:48:57,2020-10-14 18:48:57
1,2,0,windows,98,1866,76444,307105,66314,2020-10-14 18:48:57,2020-10-14 18:48:57
2,3,0,windows,98,1867,78010,335410,74661,2020-10-14 18:49:14,2020-10-14 18:49:14
3,4,0,windows,966,14792,79917,375951,74661,2020-10-14 18:49:14,2020-10-14 18:49:14
4,5,0,windows,98,1867,78010,335398,74661,2020-10-14 18:49:14,2020-10-14 18:49:14
...,...,...,...,...,...,...,...,...,...,...
290297,452048,0,linux,1055,16279,84072,399664,80393,2021-10-25 21:17:18,2021-10-25 21:17:18
290298,452051,0,windows,211,2213,19369,61932,17608,2021-10-25 21:17:41,2021-10-25 21:17:41
290299,452053,0,windows,0,65,6713,22425,4372,NaN,NaN
290300,452056,0,windows,0,65,46122,422531,4365,NaN,NaN
290301,452059,0,windows,0,65,6713,22425,4372,NaN,NaN

In [12]:
# user_login_history_df.is_mobile.unique()
# user_login_history_df.is_mobile
generic_user_login_history_df[generic_user_login_history_df.created.isnull()]
generic_user_login_history_df[generic_user_login_history_df.created.isnull()].shape

,id,is_mobile,device_name,origin_id,ofice_id,office_unit_id,office_unit_organogram,user_id,created,modified
168382,178564,0,windows,0,0,0,0,4425,NaN,NaN
168383,178567,0,windows,0,0,0,0,4398,NaN,NaN
168388,178576,0,windows,0,0,0,0,4425,NaN,NaN
168390,178579,0,windows,0,0,0,0,4398,NaN,NaN
168395,178588,0,windows,0,0,0,0,4444,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
290288,452029,0,windows,0,65,6700,16386,4393,NaN,NaN
290296,452047,0,windows,0,65,6691,16345,181,NaN,NaN
290299,452053,0,windows,0,65,6713,22425,4372,NaN,NaN
290300,452056,0,windows,0,65,46122,422531,4365,NaN,NaN
290301,452059,0,windows,0,65,6713,22425,4372,NaN,NaN

(16095, 10)